<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>productquoteform</name>
    <displayName><![CDATA[Product Quote Form]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Ajoute un formulaire de demande de devis sur les pages produits]]></description>
    <author><![CDATA[d-side solutions Sàrl]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
</module>
